# Binary
relaymonitor
relaymonitor.arm64
*.exe

# Config
.relaymonitor.env

# Git
.git/
.gitignore

# Goreleaser
dist/
.goreleaser.yaml

# GitHub
.github/

# Docker
Dockerfile
docker-compose.yaml
.dockerignore

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
